émarname: deploy
on: 
  workflow_dispatch:
    inputs:
      server:
        description: "Environement de déploiement"
        required: true
        default: "dev"


jobs:
  deploy-env:
    name: Premier_Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "demarage sur ${{github.ref}}"
        if: ${{github.ref == 'refs/head/main'}}
  
